@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Azul-escuro: #211c33;
    --Azul-claro: #2b818c;
    --Bege: #ffc994;
    --Rosa: #ed2860;
    --Roxo: #990069;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#header {
    height: 5.625em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#logo-header {
    height: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-items {
    text-decoration: none;
    color: black;   
}

.bi-list {
    display: none;
    font-size: 23px !important;
    cursor: pointer;
}

main {
    width: 100%;
}

#sidebar {
    display: none;
    position: absolute;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 5px 5px;
    right: 0;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 1;
    padding: 15px;
}

@media (max-width: 768px) {
    .navitems-header {
        display: none;
    }

    .bi-list {
        display: block;
    }
}