p {
    margin-bottom: 0px !important;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: 90rem;
    width: 100%;
}

#top-content-container {
    display: flex;
}

#side-area {
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#side-area-title {
    font-weight: bold;
    font-size: 26px;
}

#side-area-subtitle {
    font-size: 15px;
}

.side-content-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.details-icons {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    opacity: 0.8;
}

.details-desc {
    font-size: 12px;
}

.details-desc-tip {
    margin-left: 5px;
    opacity: 0.5;
    font-size: 12px;
}

.details-qntd {
    font-size: 12px;
    text-align: center;
}

#description {
    font-size: 15px;
    padding: 8px 0px 8px 0px;
}

#price {
    font-weight: bold;
    font-size: 23px;
    color: rgb(0, 190, 0);
}

.carousel {
    width: 70% !important;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.carousel-img {
    border-radius: 10px;
}

@media (max-width: 1250px) {
    /* #top-content-container {
        flex-direction: column;
    }

    #side-area {
        width: 100%;
    } */
}