p {
    margin-bottom: 0px !important;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: 90rem;
    width: 100%;
}

#top-content-container {
    display: flex;
}

#side-area {
    padding: 5px;
    width: 30%;
}

#side-area-title {
    font-weight: bold;
    font-size: 26px;
}

#side-area-subtitle {
    font-size: 15px;
}

.side-content-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.details-icons {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    opacity: 0.8;
}

.details-desc {
    font-size: 12px;
}

.details-desc-tip {
    margin-left: 5px;
    opacity: 0.5;
    font-size: 12px;
}

.details-qntd {
    font-size: 12px;
    text-align: center;
}

#price {
    
}

.carousel {
    width: 70% !important;
    padding: 10px;
}

.carousel-img {
    border-radius: 10px;
}
